.total-count-div{
    margin-top:25px;
     display: flex;
     flex-wrap: wrap;
     /* justify-content: space-between; */
     row-gap: 30px;
     column-gap: 5px;
     
    
  
  }
  
  .single-count-div{
      padding: 15px 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      border-radius: 10px;
      min-width: 24%;
      background: white;
      /* width: 22%; */
     
  }
  
  .single-count-div span:first-child{
      font-size: 14px;
      font-weight: 600;
      margin-right: 15px;
  }
  .single-count-div span:last-child{
      font-size: 18px;
      font-weight: 600;
      
  }
  
  .count-active{
      border: 1px solid #46B274;
      color: #46B274;
  }