.main_content {
    display: flex;
    padding: 10px 17px 10px 10px;
    column-gap: 20px;
    max-width: 100vw;
    overflow-x: hidden;
    align-items: flex-start;
    height: 100vh;
    overflow-y: scroll;
    background: rgb(246, 248, 252);
  }
  

.content{
    flex: 1;
    /* min-height: 100vh; */
    
    
    
}